@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p class="lead">The place for technology classes.</p>
    <p><a href="/home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a href="/home/ClassList"><h2>Class List</h2></a></p>
        <p>
            See all our class offerings.
        </p>
    </div>
    <div class="col-md-4">
        <p><a href="/home/StudentClasses"><h2>Your enrolled classes</h2></a></p>
        <p>See the classes you are enrolled in.</p>
    </div>
    <div class="col-md-4">
        <p><a href="/home/EnrollClass"><h2>Enroll in a class</h2></a></p>
        <p>Take a new class.</p>
    </div>
</div>